<div ng-controller="ShowController as ctrl">
    <h1>{{ctrl.show.name}}</h1>
    <ul class="list-group" ng-repeat="season in ctrl.show.seasons">
        <li class="list-group-item">
            <h2>{{season.number}}</h2>
            <ul class="list-group" ng-repeat="episode in season.episodes">
                <li class="list-group-item"
                    ng-class="{'list-group-item-success': episode.present, 'list-group-item-danger': !episode.present}">
                    {{episode.number}} - {{episode.name}}
                </li>
            </ul>
        </li>
    </ul>
</div>